<template name="textSolve">
	{{#with safeExercise this}}
		<header>
			<nav class="row">
				<div class="col-sm-8">
					<ol class="breadcrumb">
						<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
						<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage programmingLanguage}}{{/linkTo}}</li>
						<li class="active">{{i18nName category}}</li>
						<li class="active">{{i18nDifficulty difficulty}}</li>
						{{#unless isResult}}
							<li class="active">{{i18nName this}}</li>
						{{else}}
							<li>
								{{#linkTo route="exerciseSolve" data=exerciseSolveData}}{{i18nName this}}{{/linkTo}}
								{{#if changedAfterSolved}}<em class="text-info">&mdash; {{i18n "exercise.changedMessage"}}</em>{{/if}}
							</li>
						{{/unless}}
					</ol>
				</div>
			</nav>
			<div class="row">
				<div class="col-sm-9">
					<h2>
						{{i18nName this}}
						{{#if isResult}}
							<small>
								({{i18nDateTime resultSolved}})
								{{#if changedAfterSolved}}<span class="glyphicon glyphicon-pushpin text-info" title="{{i18n "exercise.changedMessage"}}" data-toggle="tooltip"></span>{{/if}}
							</small>
						{{/if}}
					</h2>
				</div>
			</div>
		</header>
		<section>
			<h3 class="hidden">{{i18n "exercise.exerciseSubtitle"}}</h3>
			<p class="well">
				{{#markdown}}{{i18nDescription this}}{{/markdown}}
			</p>
			<div class="row">
				<div class="col-md-6">
					{{#if pattern}}
						<form class="form-inline separated-bottom separated-left">
							<div class="form-group">
								<label for="exerciseAnswer">{{i18n "exercise.yourSolutionLabel"}}:</label>
								<input type="text" class="form-control" id="exerciseAnswer" size="15">
								<button id="button-checkAnswer" class="btn btn-primary btn-sm separated-left">{{i18n "exercise.checkAnswerButton"}}</button>
							</div>
						</form>
					{{else}}
						<div class="form-group">
							<label for="textarea-fragment">{{i18n "exercise.yourSolutionLabel"}}</label>
							{{#unless isResult}}
								{{#if solutionVisible}}
									<span class="pull-right">{{i18n "exercise.showSolutionButton"}}</span>
								{{/if}}
							{{/unless}}
							<textarea id="textarea-fragment" class="form-control" rows="10" cols="60" autofocus></textarea>
						</div>
						<div class="row">
							<div class="col-md-6">
								<button id="button-execute" class="btn btn-primary btn-sm">{{i18n "exercise.saveAnswerButton"}}</button>
							</div>
						</div>
					{{/if}}
				</div>
			</div>
		</section>
		<hr>
		<section>
			<h3>{{i18n "exercise.categoryDescriptionSubtitle" (i18nName category)}}</h3>
			<p>
				{{#markdown}}{{i18nDescription category}}{{/markdown}}
			</p>
		</section>
	{{/with}}
</template>
