<template name="textSolve">
	{{#with safeExercise this}}
		<header>
			<nav class="row">
				<div class="col-md-8">
					<ol class="breadcrumb">
						<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
						<li>{{#linkTo}}{{i18nProgrammingLanguage}}{{/linkTo}}</li>
						<li class="active">{{i18nCategoryName category}}</li>
						<li class="active">{{i18nDifficulty difficulty}}</li>
						<li class="active">{{i18nExerciseName this}}</li>
					</ol>
				</div>
			</nav>
			<div class="row">
				<div class="col-md-9">
					<h2>
						{{i18nExerciseName this}}
					</h2>
				</div>
			</div>
		</header>
		<section>
			<h3 class="hidden">{{i18n "exercise.exerciseSubtitle"}}</h3>
			<p class="well">
				{{#markdown}}{{i18nExerciseDescription this}}{{/markdown}}
			</p>
			<div class="row">
				<div class="col-md-6">
					{{#if pattern}}
						<form class="form-inline separated-bottom separated-left">
							<div class="form-group">
								<label for="exerciseAnswer">{{i18n "exercise.yourSolutionLabel"}}:</label>
								<input type="text" class="form-control" id="exerciseAnswer" size="15">
								<button id="button-checkAnswer" class="btn btn-primary btn-sm separated-left">{{i18n "exercise.checkAnswerButton"}}</button>
							</div>
						</form>
					{{else}}
						<div class="form-group">
							<label for="textarea-fragment">{{i18n "exercise.yourSolutionLabel"}}</label>
							{{#unless isResult}}
								{{#if solutionVisible}}
									<span class="pull-right">{{#linkTo}}{{i18n "exercise.showSolutionButton"}}{{/linkTo}}</span> {{!<br /><pre>{solution}</pre>}}
								{{/if}}
							{{/unless}}
							<textarea id="textarea-fragment" class="form-control mono" rows="10" cols="60" autofocus>Your Solution</textarea>
						</div>
						<div class="row">
							<div class="col-md-6">
								<button id="button-execute" class="btn btn-primary btn-sm">{{i18n "exercise.saveAnswerButton"}}</button>
							</div>
						</div>
					{{/if}}
				</div>
			</div>
		</section>
		<hr>
		<section>
			<h3>{{i18n "exercise.categoryDescriptionSubtitle" (i18nCategoryName category)}}</h3>
			<p>
				{{#markdown}}{{i18nCategoryDescription category}}{{/markdown}}
			</p>
		</section>
	{{/with}}
</template>
