<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Progressor - The Programming Professor</title>
	</head>
	<body>
		<p>
			{{i18n "email.releaseNotifier.salutation" address}}<br />
			{{i18n "email.releaseNotifier.introLine1"}}<br />
			{{i18n "email.releaseNotifier.introLine2"}}
		</p>
		<table>
			<caption>{{i18n "email.releaseNotifier.newRequests"}}</caption>
			<thead>
				<tr>
					<th scope="col">{{i18n "exercise.nameLabel"}}</th>
					<th scope="col">{{i18n "exercise.typeLabel"}}</th>
					<th scope="col">{{i18n "exercise.programmingLanguageLabel"}}</th>
					<th scope="col">{{i18n "exercise.categoryLabel"}}</th>
					<th scope="col">{{i18n "exercise.difficultyLabel"}}</th>
					<th scope="col">{{i18n "form.createdByLabel"}}</th>
					<th scope="col">{{i18n "form.editedByLabel"}}</th>
					<th scope="col">{{i18n "form.editedAtLabel"}}</th>
					<th scope="col">{{i18n "exercise.releaseRequestedAtLabel"}} <span class="glyphicon glyphicon-chevron-down"></span></th>
				</tr>
			</thead>
			<tbody>
				{{#each requestedExercises}}
					<tr>
						<td>{{i18nName this}}</td>
						<td>{{i18nExerciseType type}}</td>
						<td>{{i18nProgrammingLanguage programmingLanguage}}</td>
						<td>{{i18nName category}}</td>
						<td>{{i18nDifficulty difficulty}}</td>
						<td>{{userName author_id}}</td>
						<td>{{userName lastEditor_id}}</td>
						<td>{{i18nDateTime lastEdited}}</td>
						<td>{{i18nDateTime released.requested}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<p>
			{{i18n "email.releaseNotifier.gratitude"}}<br /><br />
			{{i18n "email.releaseNotifier.greeting"}}<br />
			Progressor - The Programming Professor
		</p>
	</body>
</html>
