<template name="multipleSolve">
	{{i18nTooltips}}
	{{#with safeExercise this}}
		<header>
			<nav class="row">
				<div class="col-sm-8">
					<ol class="breadcrumb">
						<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
						<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage programmingLanguage}}{{/linkTo}}</li>
						<li class="active">{{i18nName category}}</li>
						<li class="active">{{i18nDifficulty difficulty}}</li>
						{{#unless isResult}}
							<li class="active">{{i18nName this}}</li>
						{{else}}
							<li>
								{{#linkTo route="exerciseSolve" data=exerciseSolveData}}{{i18nName this}}{{/linkTo}}
								{{#if changedAfterSolved}}<em class="text-info">&mdash; {{i18n "exercise.changedMessage"}}</em>{{/if}}
							</li>
						{{/unless}}
					</ol>
				</div>
				{{#unless isResult}}
					<div class="col-sm-4 text-right">
						<ul class="breadcrumb">
							<li>{{#linkTo route="exerciseEdit" data=this}}{{i18n "exercise.editButton"}}{{/linkTo}}</li>
						</ul>
					</div>
				{{/unless}}
			</nav>
			<div class="row">
				<div class="col-sm-9">
					<h2>
						{{i18nName this}}
						{{#if isResult}}
							<small>
								({{i18nDateTime resultSolved}})
								{{#if changedAfterSolved}}<span class="glyphicon glyphicon-pushpin text-info" title="{{i18n "exercise.changedMessage"}}" data-toggle="tooltip"></span>{{/if}}
							</small>
						{{/if}}
					</h2>
				</div>
			</div>
		</header>
		<section>
			<h3 class="hidden">{{i18n "exercise.exerciseSubtitle"}}</h3>
			<p class="well">
				{{#markdown}}{{i18nDescription this}}{{/markdown}}
			</p>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-unstyled separated-left">
						{{#each i18nOptions this}}
							<li class="{{resultEvaluation @index}}">
								<div class="{{questionType}}">
									<label>
										<input type="{{questionType}}" name="input-option" value="{{@index}}" class="input-option" {{checkedStatus @index}} disabled={{isResult}}>
										{{this}}
									</label>
								</div>
							</li>
						{{/each}}
					</ul>
					{{#unless isResult}}
						<button id="button-save-answer" class="btn btn-primary btn-sm">{{i18n "exercise.saveAnswerButton"}}</button>
					{{/unless}}
				</div>
			</div>
		</section>
		<hr />
		<section>
			<h3>{{i18n "exercise.categoryDescriptionSubtitle" (i18nName category)}}</h3>
			<p>
				{{#markdown}}{{i18nDescription category}}{{/markdown}}
			</p>
		</section>
	{{/with}}
</template>
