<template name="account">
	{{#if currentUser}}
		<h2>{{i18n "account.title"}}</h2>
	{{/if}}
	<div class="row">
		{{#if currentUser}}
			<div class="col-md-8">
				<section class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">{{i18n "account.solvedExercisesSubtitle"}}</h3></div>
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th scope="col">{{i18n "exercise.nameLabel"}}</th>
								<th scope="col">{{i18n "exercise.typeLabel"}}</th>
								<th scope="col">{{i18n "exercise.programmingLanguageLabel"}}</th>
								<th scope="col">{{i18n "exercise.categoryLabel"}}</th>
								<th scope="col">{{i18n "exercise.difficultyLabel"}}</th>
								<th scope="col">{{i18n "exercise.solvedLabel"}}</th>
							</tr>
						</thead>
						<tbody>
							{{#each results}}
								<tr>
									<td>
										{{#linkTo route="resultView" data=this}}{{i18nName exercise}}{{/linkTo}}
										<span class="glyphicon {{#if solvedComplete exercise results}}glyphicon-ok text-success{{else}}glyphicon-remove text-danger{{/if}}"></span>
									</td>
									<td>{{i18nExerciseType exercise.type}}</td>
									<td>{{i18nProgrammingLanguage exercise.programmingLanguage}}</td>
									<td>{{i18nName exercise.category}}</td>
									<td>{{i18nDifficulty exercise.difficulty}}</td>
									<td>{{i18nDateTime solved}}</td>
								</tr>
							{{else}}
								<tr>
									<td colspan="6" class="text-muted">{{i18n "form.noResults"}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</section>
				<section class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">{{i18n "account.createdExercisesSubtitle"}}</h3></div>
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th scope="col">{{i18n "exercise.nameLabel"}}</th>
								<th scope="col">{{i18n "exercise.typeLabel"}}</th>
								<th scope="col">{{i18n "exercise.programmingLanguageLabel"}}</th>
								<th scope="col">{{i18n "exercise.categoryLabel"}}</th>
								<th scope="col">{{i18n "exercise.difficultyLabel"}}</th>
								<th scope="col">{{i18n "form.editedByLabel"}}</th>
								<th scope="col">{{i18n "form.editedAtLabel"}}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#each authoredExercises}}
								<tr>
									<td>{{#linkTo route="exerciseSolve" data=this}}{{i18nName this}}{{/linkTo}}</td>
									<td>{{i18nExerciseType type}}</td>
									<td>{{i18nProgrammingLanguage programmingLanguage}}</td>
									<td>{{i18nName category}}</td>
									<td>{{i18nDifficulty difficulty}}</td>
									<td>{{userName lastEditor_id}}</td>
									<td>{{i18nDateTime lastEdited}}</td>
									<td><a role="button" data-archive-id="{{this._id}}"><span class="glyphicon glyphicon-inbox" title="{{i18n "exercise.archiveButton"}}" data-toggle="tooltip"></span></a></td>
								</tr>
							{{else}}
								<tr>
									<td colspan="8" class="text-muted">{{i18n "form.noResults"}}</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</section>
				<section class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseArchive"><span class="glyphicon glyphicon-plus-sign"></span></a>
							<a role="button" data-toggle="collapse" href="#collapseArchive">{{i18n "account.archivedExercisesSubtitle"}}</a>
						</h3>
					</div>
					<div id="collapseArchive" class="panel-collapse collapse">
						<table class="table table-condensed table-striped">
							<thead>
								<tr>
									<th scope="col">{{i18n "exercise.nameLabel"}}</th>
									<th scope="col">{{i18n "exercise.typeLabel"}}</th>
									<th scope="col">{{i18n "exercise.programmingLanguageLabel"}}</th>
									<th scope="col">{{i18n "exercise.categoryLabel"}}</th>
									<th scope="col">{{i18n "exercise.difficultyLabel"}}</th>
									<th scope="col">{{i18n "form.editedByLabel"}}</th>
									<th scope="col">{{i18n "form.editedAtLabel"}}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each archivedExercises}}
									<tr>
										<td>{{#linkTo route="exerciseSolve" data=this}}{{i18nName this}}{{/linkTo}}</td>
										<td>{{i18nExerciseType type}}</td>
										<td>{{i18nProgrammingLanguage programmingLanguage}}</td>
										<td>{{i18nName category}}</td>
										<td>{{i18nDifficulty difficulty}}</td>
										<td>{{userName lastEditor_id}}</td>
										<td>{{i18nDateTime lastEdited}}</td>
										<td><a role="button" data-unarchive-id="{{this._id}}"><span class="glyphicon glyphicon-briefcase" title="{{i18n "exercise.unarchiveButton"}}" data-toggle="tooltip"></span></a></td>
									</tr>
								{{else}}
									<tr>
										<td colspan="8" class="text-muted">{{i18n "form.noResults"}}</td>
									</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</section>
			</div>
			<div class="col-md-4">
				<section class="well form-horizontal">
					<h3>{{i18n "account.accountSettingsSubtitle"}}</h3>
					<div class="form-group">
						<label for="input-email" class="col-md-3 control-label">{{i18n "account.emailLabel"}}</label>
						<div class="col-md-9">
							<input type="email" class="form-control" id="input-email" value="{{currentUserEmail}}" readonly>
						</div>
					</div>
					<div class="form-group">
						<label for="input-name" class="col-md-3 control-label">{{i18n "account.nameLabel"}}</label>
						<div class="col-md-9">
							<input type="text" class="form-control" id="input-name" value="{{currentUserName}}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-9 col-md-offset-3">
							<div class="btn-group btn-group-sm separated-bottom">
								<button id="button-logout" class="btn btn-success">{{i18n "account.logoutButton"}}</button>
								<button id="button-logout-others" class="btn btn-default">{{i18n "account.logoutOtherClientsButton"}}</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		{{else}}
			<div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
				{{> atForm}}
			</div>
		{{/if}}
	</div>
</template>
