<template name="exerciseSearch">
	<header>
		<nav>
			<ol class="breadcrumb">
				<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
				<li class="active">{{i18nProgrammingLanguage exercises}}</li>
			</ol>
		</nav>
		<h2>{{i18n "exercise.searchTitle" (i18nProgrammingLanguage exercises)}}</h2>
	</header>
	<div class="row">
		<section class="col-sm-6 col-md-6 col-lg-7">
			<div class="panel-group">
				{{#each difficulties}}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{i18nDifficulty _id}}</h3>
						</div>
						<div class="panel-body multi-col-2">
							<ul>
								{{#each exercises}}
									<li>{{#linkTo route="programmingSolve" data=this}}{{i18nExerciseName this}}{{/linkTo}}</li>
								{{/each}}
							</ul>
						</div>
					</div>
				{{/each}}
			</div>
		</section>
		<section class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1">
			<div class="well form-horizontal">
				<h3>{{i18n "exercise.searchSubtitle"}}</h3>
				<div class="form-group">
					<label for="input-name" class="col-md-3 control-label">{{i18n "exercise.nameLabel"}}</label>
					<div class="col-md-9">
						<input type="text" id="input-name" class="form-control" placeholder="{{i18n "form.textFilter"}}" />
						<span class="help-block">{{i18n "form.minLength" 3}}</span>
					</div>
				</div>
				<div class="form-group">
					<label for="select-category" class="col-md-3 control-label">{{i18n "exercise.categoryLabel"}}</label>
					<div class="col-md-9">
						<select id="select-category" class="form-control">
							<option value="">{{i18n "form.selectAll"}}</option>
							{{#each categories}}
								<option value="{{_id}}">{{i18nCategoryName this}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="select-difficulty" class="col-md-3 control-label">{{i18n "exercise.difficultyLabel"}}</label>
					<div class="col-md-9">
						<select id="select-difficulty" class="form-control">
							<option value="">{{i18n "form.selectAll"}}</option>
							{{#each difficulties}}
								<option value="{{_id}}">{{i18nDifficulty _id}}</option>
							{{/each}}
						</select>
					</div>
				</div>
			</div>
			{{#if results}}
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th scope="col">{{i18n "exercise.nameLabel"}}</th>
							<th scope="col">{{i18n "exercise.categoryLabel"}}</th>
							<th scope="col">{{i18n "exercise.difficultyLabel"}}</th>
						</tr>
					</thead>
					<tbody>
						{{#each results}}
							<tr>
								<td>{{#linkTo route="programmingSolve" data=this}}{{i18nExerciseName this}}{{/linkTo}}</td>
								<td>{{i18nCategoryName category}}</td>
								<td>{{i18nDifficulty difficulty}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			{{else}}
				<div class="text-muted">{{message}}</div>
			{{/if}}
		</section>
	</div>
</template>
