<template name="exercise_search">
	<ol class="breadcrumb">
		<li><a href="#">{{i18n "home.title"}}</a></li>
		<li class="active">Java</li>
	</ol>
	<div class="page-title">
		<h2>Java {{i18n "exercise.titlePluralLowerCase"}}</h2>
	</div>
	<div class="row">
		<div class="col-md-5">
			<form class=" well form-horizontal">
				<fieldset>
					<legend>{{i18n "legendSearchExercise.title"}}</legend>
					<div class="form-group">
						<label for="select" class="col-md-2 control-label">{{i18n "level.title"}}:</label>

						<!--ToDo: Load from database -->
						<div class="col-md-10">
							<select class="form-control" id="select-level">
								<option>All</option>
								<option>Beginner</option>
								<option>Intermediate</option>
								<option>Advanced</option>
								<option>Expert</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="select" class="col-md-2 control-label text-left">{{i18n "topic.title"}}:</label>
						<div class="col-md-10">
							<select class="form-control" id="select-topic">
								<option>All</option>
								<option>Arrays</option>
								<option>Strings</option>
								<option>Logic</option>
								<option>Recursion</option>
							</select>
						</div>
					</div>
				</fieldset>
				<a href="#" class="btn btn-success pull-right">{{i18n "search.title"}}</a>
				<br><br> <!-- Workaround: button inside well -->
			</form>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading"><h5><strong>{{i18n "searchResults.title"}}</strong></h5></div>
						<div class="panel-body">
							<input class="form-control" id="inputFIlter" placeholder="{{i18n "filterByTitle.title"}}" type="text">
						</div>
						<table class="table table-hover table-striped">

							<!--ToDo: List sortable by headers -->
							<thead>
								<tr>
									<th>{{i18n "title.title"}}</th>
									<th>{{i18n "topic.title"}}</th>
									<th>{{i18n "level.title"}}</th>
								</tr>
							</thead>

							<!--ToDo: Load from database -->
							<tbody>
								<tr>
									<td>Sort with Arrays</td>
									<td>Arrays</td>
									<td>Beginner</td>
								</tr>
								<tr>
									<td>String functionality</td>
									<td>Strings</td>
									<td>Expert</td>
								</tr>
								<tr>
									<td>...</td>
									<td>...</td>
									<td>...</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<!--ToDo: Load level titels from database -->
		<!--ToDo: Load exercises from database -->
		<div class="col-md-6 col-md-offset-1">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
								Beginner</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="multiColumn">
								<ul>
									<a href="/java/exercise1">
										<li>Exercise 1</li>
									</a>
									<li>Exercise 2</li>
									<li>Exercise 3</li>
									<li>Exercise 4</li>
									<li>Exercise 5</li>
									<li>Exercise 6</li>
									<li>Exercise 7</li>
									<li>Exercise 8</li>
									<li>Exercise 9</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
								Intermediate</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="multiColumn">
								<ul>
									<li>Exercise 1</li>
									<li>Exercise 2</li>
									<li>Exercise 3</li>
									<li>Exercise 4</li>
									<li>Exercise 5</li>
									<li>Exercise 6</li>
									<li>Exercise 7</li>
									<li>Exercise 8</li>
									<li>Exercise 9</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
								Advanced</a>
						</h4>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="multiColumn">
								<ul>
									<li>Exercise 1</li>
									<li>Exercise 2</li>
									<li>Exercise 3</li>
									<li>Exercise 4</li>
									<li>Exercise 5</li>
									<li>Exercise 6</li>
									<li>Exercise 7</li>
									<li>Exercise 8</li>
									<li>Exercise 9</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
								Expert</a>
						</h4>
					</div>
					<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="multiColumn">
								<ul>
									<li>Exercise 1</li>
									<li>Exercise 2</li>
									<li>Exercise 3</li>
									<li>Exercise 4</li>
									<li>Exercise 5</li>
									<li>Exercise 6</li>
									<li>Exercise 7</li>
									<li>Exercise 8</li>
									<li>Exercise 9</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
