<template name="home">
	<header class="page-header">
		<div class="jumbotron">
			<h1>
				{{i18n "application.title"}}
				<small>{{i18n "application.subhead"}}</small>
			</h1>
		</div>
	</header>
	<section class="row home-langs">
		{{#each programmingLanguage in programmingLanguages}}
			<div class="col-md-3">
				<div id="{{programmingLanguage}}-panel" class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{programmingLanguageName programmingLanguage}}</h3>
					</div>
					<div class="panel-body">
						{{programmingLanguageDescription programmingLanguage}}
					</div>
				</div>
			</div>
		{{/each}}
		{{#each programmingLanguage in programmingLanguagesUpcoming}}
			<div class="col-md-3">
				<div id="{{programmingLanguage}}" class="panel panel-default disabled">
					<div class="panel-heading">
						<h3 class="panel-title">{{programmingLanguageName programmingLanguage}}</h3>
					</div>
					<div class="panel-body">
						{{programmingLanguageDescription programmingLanguage}}
					</div>
				</div>
			</div>
		{{/each}}
	</section>
</template>
