<template name="home">
  <section class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
      <h1 id="intro"><small id="introExplanation">&nbsp;</small></h1>
      <br>
      <p>{{{i18n "layout.homeIntro"}}}</p>
    </div>
    {{#each programmingLanguages}}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        {{#unless isUpcoming}}
          {{#linkTo route="exerciseSearch" class="language-link"}}
            <div class="panel panel-default language-link">
              <div class="panel-heading language-logo">
                <i class="{{devicon}} language-logo"></i>
              </div>
              <div class="panel-body">
                <div class="panel-title">{{name}}</div>
                <p class="language-description">{{description}}</p>
              </div>
              <div class="panel-footer">{{nofExercises _id}}</div>
            </div>
          {{/linkTo}}
        {{else}}
          <div class="panel panel-default disabled">
            <div class="panel-heading language-logo">
              <i class="{{devicon}} language-logo"></i>
            </div>
            <div class="panel-body">
              <div class="panel-title">{{name}}</div>
              <p>{{description}}</p>
              <em>{{i18n "exercise.upcoming"}}</em>
            </div>
          </div>
        {{/unless}}
      </div>
    {{/each}}
  </section>
</template>
