<template name="home">
	<header>
		<div class="jumbotron intro">
			<h1 id="intro">
				&nbsp; {{! {i18n "layout.logo"} <small>{i18n "layout.explanation"}<span id="underlineChar">_</span></small> }}
			</h1>
		</div>
	</header>
	<section class="row">
		{{#each programmingLanguages}}
			<div class="col-xs-{{nofColumns "xs"}} col-sm-{{nofColumns "sm"}} col-md-{{nofColumns "md"}} col-lg-{{nofColumns "lg"}}">
				<div class="panel panel-default {{#if isUpcoming}}disabled{{/if}}" data-href="{{#unless isUpcoming}}{{_id}}{{/unless}}">
					<div class="panel-heading languageLogo">
						<img src="/images/languages/{{_id}}.svg" alt="{{i18nProgrammingLanguage _id}}" class="languageLogo" />
					</div>
					<div class="panel-body">
						<div class="panel-title">{{i18nProgrammingLanguage _id}}</div>
						<p>{{i18nProgrammingLanguageDescription _id}}</p>
						{{#if isUpcoming}}
							<em>{{i18n "exercise.upcoming"}}</em>
						{{/if}}
					</div>
					{{#unless isUpcoming}}
						<div class="panel-footer">{{nofExercises _id}}</div>
					{{/unless}}
				</div>
			</div>
			{{#each separators}}
				<div class="clearfix visible-{{this}}-block"></div>
			{{/each}}
		{{/each}}
	</section>
</template>
