<template name="layout">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">{{i18n "layout.navigationToggle"}}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{{pathFor "home"}}" class="navbar-brand">{{i18n "layout.title"}}</a>
			</div>
			<div id="navbar-collapse" class="collapse navbar-collapse">
				<nav>
					<ul class="nav navbar-nav">
						<li>
							<a href="{{pathFor "home"}}">{{i18n "home.title"}}</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{i18n "programmingLang.title"}}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{pathFor "exerciseSearch"}}">{{i18n "progammingLangList.title"}}</a></li>
							</ul>
						</li>
						<li>
							<a href="{{pathFor "exerciseCreate"}}">Create exercise</a>
						</li>
					</ul>
				</nav>
				<nav class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-globe"></span>
								{{language}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#each languages}}
									<li class={{#if isActive}}active{{/if}}>
										<a href="?lang={{id}}" class="i18n lang" data-lang={{id}}>{{name}}</a>
									</li>
								{{/each}}
							</ul>
						</li>
						<li role="separator" class="divider-vertical"></li>
						{{#if currentUser}}
							<li><a href={{pathFor "account"}}>{{i18n "account.title"}}</a></li>
						{{else}}
							<li><a href="{{pathFor "login"}}">{{i18n "login.title"}}</a></li>
						{{/if}}
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<main class={{#if showAside}}col-lg-9{{else}}col-lg-12{{/if}} >
				{{#unless customTitle}}
					<h1 class="default">{{i18n "layout.title"}}</h1>
				{{/unless}}
				{{> yield}}
			</main>
			{{#if showAside}}
				<aside class="col-lg-3">
					{{> yield "aside"}}
				</aside>
			{{/if}}
		</div>
	</div>
</template>
