<template name="textSolve">
	{{i18nTooltips}}
	{{#with safeExercise this}}
		<header>
			{{#unless execution_id}}
				<nav class="row">
					<div class="col-sm-8">
						<ol class="breadcrumb">
							<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
							<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage programmingLanguage}}{{/linkTo}}</li>
							<li>{{#linkTo route="categoryExercises" data=category}}{{i18nCategoryName category author_id}}{{/linkTo}}</li>
							<li class="active">{{i18nDifficulty difficulty}}</li>
							{{#unless isResult}}
								<li class="active">{{i18nName this}}</li>
							{{else}}
								<li>
									{{#linkTo route="exerciseSolve" data=exerciseSolveData}}{{i18nName this}}{{/linkTo}}
									{{#if changedAfterSolved}}<em class="text-info">&mdash; {{i18n "exercise.changedMessage"}}</em>{{/if}}
								</li>
							{{/unless}}
						</ol>
					</div>
					{{#if canEdit this}}
						<div class="col-sm-4 text-right">
							<ul class="breadcrumb">
								<li>{{#linkTo route="exerciseEdit" data=this}}{{i18n "exercise.editButton"}}{{/linkTo}}</li>
							</ul>
						</div>
					{{/if}}
				</nav>
			{{/unless}}
			<div class="row">
				<div class="col-sm-8">
					<h2>
						{{i18nName this}}
						{{#if isResult}}
							<small>
								({{i18nDateTime resultSolved}})
								{{#if changedAfterSolved}}<span class="glyphicon glyphicon-pushpin text-info" title="{{i18n "exercise.changedMessage"}}" data-toggle="tooltip"></span>{{/if}}
							</small>
						{{/if}}
					</h2>
				</div>
				{{#if execution}}
					<div class="col-sm-4">
						<ul class="pager nomargin pull-right">
							<li class="{{#unless previousExerciseSolveData}}disabled{{/unless}}">{{!class="previous"}}{{#linkTo route="exerciseSolve" data=previousExerciseSolveData}}&larr;&nbsp;{{i18n "form.previousButton"}}{{/linkTo}}</li>
							<li>{{#linkTo route="examinationExecutionExamineeView" data=execution}}{{i18n "examination.overviewButton"}}{{/linkTo}}</li>
							<li class="{{#unless nextExerciseSolveData}}disabled{{/unless}}">{{!class="next"}}{{#linkTo route="exerciseSolve" data=nextExerciseSolveData}}{{i18n "form.nextButton"}}&nbsp;&rarr;{{/linkTo}}</li>
						</ul>
					</div>
				{{/if}}
			</div>
		</header>
		<section>
			<h3 class="hidden">{{i18n "exercise.exerciseSubtitle"}}</h3>
			<p class="well">
				{{#markdown}}{{i18nDescription this}}{{/markdown}}
			</p>
			<div class="row">
				<div class="col-md-{{#if pattern}}3{{else}}6{{/if}}">
					{{#if pattern}}
						<div class="form-group {{validation}} {{#if resultEvaluation}}has-feedback{{/if}}">
							<label for="input-answer">{{i18n "exercise.answerLabel"}}</label>
							<input type="text" id="input-answer" class="form-control control-answer" autofocus value="{{answer}}" pattern="{{pattern}}" disabled={{isResult}}>
							{{#if resultEvaluation}}
								<span class="glyphicon {{resultEvaluation}} form-control-feedback"></span>
							{{/if}}
						</div>
					{{else}}
						<div class="form-group">
							<label for="textarea-answer">{{i18n "exercise.answerLabel"}}</label>
							<textarea id="textarea-answer" class="form-control control-answer" rows="10" cols="60" autofocus disabled={{isResult}}>{{answer}}</textarea>
						</div>
					{{/if}}
					{{#unless isResult}}
						<button id="button-save-answer" class="btn btn-primary btn-sm">{{i18n "exercise.saveAnswerButton"}}</button>
						{{#if solutionVisible}}
							{{#unless showSolution}}
								<button id="button-solution" class="btn btn-primary btn-sm pull-right">{{i18n "exercise.showSolutionButton"}}</button>
							{{/unless}}
						{{/if}}
					{{/unless}}
				</div>
				{{#if showSolution}}
					{{#if pattern}}
						<div class="col-md-6 width-auto">
							<div class="text-result">
								<label>{{i18n "exercise.solutionLabel"}}</label>
								<ul class="list-group">
									{{#each solution}}
										<li class="list-group-item">{{this}}</li>
									{{/each}}
								</ul>
								<button id="button-close" class="btn btn-primary btn-sm">{{i18n "exercise.closeButton"}}</button>
							</div>
						</div>
					{{else}}
						<div class="col-md-6 width-auto">
							<div class="text-result">
								<label>{{i18n "exercise.solutionLabel"}}</label>
								{{#each solution}}
									<textarea id="textarea-answer" class="form-control control-answer" rows="10" cols="60" autofocus disabled>{{this}}</textarea>
								{{/each}}
							</div>
							<button id="button-close" class="btn btn-primary btn-sm">{{i18n "exercise.closeButton"}}</button>
						</div>
					{{/if}}
				{{/if}}
			</div>
		</section>
		{{#if category}}
			{{#unless category.private}}
				<hr>
				<section>
					<h3>{{i18n "exercise.categoryDescriptionSubtitle" (i18nName category)}}</h3>
					<p>
						{{#markdown}}{{i18nDescription category}}{{/markdown}}
					</p>
				</section>
			{{/unless}}
		{{/if}}
	{{/with}}
</template>
