@import "../lib/bootstrap-variables.less";
@import "../lib/bootstrap-mixins.less";
/*
 * INTRO
 */
@font-face {
	font-family: OCRAEXT;
	src: url("/fonts/OCRAEXT.TTF") format('truetype'); //source: http://fontzone.net/font-details/ocr-a-extended
}
#intro { font-family: OCRAEXT, Consolas, "Lucida Console", monospace; }
.jumbotron.intro { margin-top: 14px; padding-top: 30px; padding-bottom: 30px; }
.pulsate { .animation(pulsate 1s infinite linear); }
.keyframes-pulsate() {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes pulsate { .keyframes-pulsate(); }
@-moz-keyframes pulsate { .keyframes-pulsate(); }
@-o-keyframes pulsate { .keyframes-pulsate(); }
@keyframes pulsate { .keyframes-pulsate(); }
/*
 * PROGRAMMING LANGUAGES
 */
[data-href] { cursor: pointer; }
div.languageLogo { text-align: center; }
i.languageLogo { font-size: 10em; color: @brand-primary; }
.panel-primary i.languageLogo { color: #FFFFFF; }
//custom logos
i.logo-custom { display: inline-block; height: 1em; width: 1em; background-repeat: no-repeat; -webkit-background-size: 1em; background-size: 1em; }
.logo-custom(@lang) {
	@logo-color: replace(`'@{brand-primary}'.toUpperCase()`, "#", "");
	i.logo-@{lang} { &:extend(i.logo-custom); background-image: url("/images/logo-@{lang}-void-@{logo-color}.svg"); }
	.panel-primary i.logo-@{lang} { background-image: url("/images/logo-@{lang}-void-FFFFFF.svg"); }
}
.logo-custom(kotlin);
