//////////////////////
// IMPORT BOOTSTRAP //
//////////////////////
@import "../lib/bootstrap-variables.less";
@import "../lib/bootstrap-mixins.less";
///////////
// INTRO //
///////////
@font-face {
	font-family: OCRAEXT;
	src: url("/fonts/OCRAEXT.TTF") format("truetype"); //source: http://fontzone.net/font-details/ocr-a-extended
}
#intro, #textLogo { font-family: OCRAEXT, Consolas, "Lucida Console", monospace; }
.jumbotron.intro { margin-top: 14px; padding-top: 30px; padding-bottom: 30px; }
.pulsate { .animation(pulsate 1s infinite linear); }
.keyframes-pulsate() {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes pulsate { .keyframes-pulsate(); }
@-moz-keyframes pulsate { .keyframes-pulsate(); }
@-o-keyframes pulsate { .keyframes-pulsate(); }
@keyframes pulsate { .keyframes-pulsate(); }
///////////////////////////
// PROGRAMMING LANGUAGES //
///////////////////////////
.language-link { cursor: pointer; }
div.language-logo { text-align: center; }
i.language-logo { font-size: 10em; color: @brand-primary; }
.panel-primary i.language-logo { color: #FFFFFF; }
//
// custom logos //
//
i.logo-custom /*:extend(i.language-logo)*/ { display: inline-block; height: 1em; width: 1em; background-repeat: no-repeat; -webkit-background-size: 1em; background-size: 1em; }
.logo-custom(@lang) {
	i.logo-@{lang}:extend(i.logo-custom) { background-image: %(~'url("/images/logo-%s-void-%s.svg")', @lang, replace('@{brand-primary}', '#', '')); }
	.panel-primary i.logo-@{lang} { background-image: url("/images/logo-@{lang}-void-ffffff.svg"); }
}
.logo-custom(kotlin); //source: extracted from https://resources.jetbrains.com/assets/products/kotlin/kotlin_logos.zip (via https://www.jetbrains.com/company/press/)
