//////////////////////
// IMPORT BOOTSTRAP //
//////////////////////
@import "../lib/bootstrap-variables.less";
@import "../lib/bootstrap-mixins.less";

@font-face {
	font-family: OCRAEXT;
	src: url('/fonts/OCRA.woff') format('woff'), url("/fonts/OCRA.ttf") format("truetype"); //source: http://ansuz.sooke.bc.ca/page/fonts#ocra  (open source)
}
////////////
// HEADER //
////////////

#logo { font-family: OCRAEXT, Consolas, "Lucida Console", monospace; min-width: 230px; display: block; }
.logo { font-family: OCRAEXT, Consolas, "Lucida Console", monospace; }
///////////
// INTRO //
///////////
#intro, #textLogo { font-family: OCRAEXT, Consolas, "Lucida Console", monospace; }
.jumbotron.intro { margin-top: 14px; padding-top: 30px; padding-bottom: 30px; }
.pulsate { .animation(pulsate 1s infinite linear); }
.keyframes-pulsate() {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes pulsate { .keyframes-pulsate(); }
@-moz-keyframes pulsate { .keyframes-pulsate(); }
@-o-keyframes pulsate { .keyframes-pulsate(); }
@keyframes pulsate { .keyframes-pulsate(); }
///////////////////////////
// PROGRAMMING LANGUAGES //
///////////////////////////
a.language-link, a.language-link:hover, a.language-link:active, a.language-link:focus { text-decoration: none; color: @brand-primary; }
div.language-logo { text-align: center; }
i.language-logo { font-size: 10em; color: @brand-primary; }
.panel-primary i.language-logo { color: #FFFFFF; }
.language-description { height: 10em; overflow-y: auto; }
//
// custom logos //
//
i.logo-custom /*:extend(i.language-logo)*/ { display: inline-block; width: 1em; height: 1em; background-repeat: no-repeat; background-position: center; -webkit-background-size: 1em; background-size: 1em; }
.logo-custom(@lang, @icon: @lang) {
	i.logo-@{lang}:extend(i.logo-custom) { background-image: %(~'url("/images/logo-%s-%s.svg")', @icon, replace('@{brand-primary}', '#', '')); }
	.panel-primary i.logo-@{lang} { background-image: url("/images/logo-@{icon}-ffffff.svg"); }
}
.logo-custom(kotlin, kotlin-void); //source: extracted from https://resources.jetbrains.com/assets/products/kotlin/kotlin_logos.zip (via https://www.jetbrains.com/company/press/)
//.logo-custom(swift, swift-wordmark); //source: https://upload.wikimedia.org/wikipedia/commons/2/20/Swift_logo_with_text.svg (via https://en.wikipedia.org/wiki/Swift_(programming_language))
//.logo-custom(lisp); //source: http://ergoemacs.org/emacs/lisp_logo/LISP_logo.svg (via http://ergoemacs.org/emacs/lisp_logo.html)
.logo-custom(upcoming);
