@import "../lib/bootstrap-variables.less";
@import "../lib/bootstrap-mixins.less";
/*
 * VARIABLES
 */
@header-height: 60px;
@default-margin: 1em;
/*
 * GENERAL FORMATTING
 */
.container-fluid { padding: 0 @header-height / 2; }
body { padding-top: @header-height + 10px; }
.spinner { margin-top: @header-height * 2.5; }
h2, .well > h3 { margin-top: 0; }
/*
 * NAVIGATION BAR
 */
#imageLogo { margin-top: -8px; }
.navbar .divider-vertical { height: @header-height; margin: 0 9px; border-right: 1px solid #FFFFFF; }
.navbar-inverse .divider-vertical { border-right-color: #222222; border-left-color: #111111; }
@media (max-width: (@screen-sm-min - 1px)) {
	.navbar-collapse .nav > .divider-vertical { display: none; }
}
/*
 * MISCELLANEOUS
 */
td, th { vertical-align: middle !important; }
dt::after { content: ":"; }
input[type="number"] { max-width: 7em; }
.font-weight-normal { font-weight: normal; }
.pre-line { white-space: pre-line; }
.cursor-default { cursor: default; }
.width-auto { width: auto; }
.nomargin { margin: 0; }
.absolute {
	position: absolute;
	&.top-left { top: @default-margin; left: @default-margin; }
	&.top-right { top: @default-margin; right: @default-margin; }
	&-container { position: relative; }
}
.fixed {
	position: fixed;
	&.top-left { top: @header-height + (@default-margin * @font-size-base); left: @default-margin; }
	&.top-right { top: @header-height + (@default-margin * @font-size-base); right: @default-margin; }
}
.separated(@dir) {
	.separated-@{dir} { margin-@{dir}: @default-margin; }
}
.separated(top);
.separated(left);
.separated(bottom);
.separated(right);
.list-inline.list-multiline > li { padding: 3px; }
.circle( @size) {
	display: inline-block;
	width: @size;
	line-height: @size;
	border-radius: 50%;
	text-align: center;
}
.circle-3em-success {
	.circle(3em);
	color: white;
	background-color: @brand-success;
	border: 2px solid @brand-success;
}
.circle-3em-not-evaluated {
	.circle(3em);
	color: white;
	background-color: @brand-info;
	border: 2px solid @brand-info;
}
.circle-3em-partial {
	.circle(3em);
	color: white;
	background-color: @brand-warning;
	border: 2px solid @brand-warning;
}
.circle-3em-not-solved {
	.circle(3em);
	color: white;
	background-color: @brand-danger;
	border: 2px solid @brand-danger;
}

.font-size-2_5-em {
	font-size: 2.5em;
}

.tooltip-inner {
	white-space:pre;
	max-width:none;
}
