/* General settings */
body { padding: 70px 0; }

h1.default { display: none; }


/* Seperator between language and login */
.navbar .divider-vertical {
	height: 60px;
	margin: 0 9px;
	border-right: 1px solid #FFFFFF;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}


/* Center input field labels */
.col-center {	margin-top:2%; }


/* Multi column list */
.multiColumn {
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
}