/*
* ------------------------------------------------------------------------
*
* Reset password email - !EDITABLE! HTML email template
*
* Email template framework: http://foundation.zurb.com/emails.html
* Parser for making readable to email clients: http://foundation.zurb.com/emails/inliner-v2.html
* Framework documentation: http://foundation.zurb.com/emails/docs/css-guide.html
*
* Further references for HTML emails:
* - http://kb.mailchimp.com/campaigns/ways-to-build/about-html-email
* - https://css-tricks.com/using-css-in-html-emails-the-real-story/
* - https://www.campaignmonitor.com/css/
*
* ----------------------------------------------------------------------------
*/
<!--DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../../template.css">
		<title>{{i18n "layout.title"}} - {{i18n "layout.explanation"}}</title>
	</head>
	<body>
		<!-- <style> -->
		<table class="body" data-made-with-foundation="">
			<tr>
				<td class="float-center" align="center" valign="top">
					<center data-parsed="">
						<style type="text/css" align="center" class="float-center">
							.header {
								background: #2c3e50;
							}
							.wrapper.secondary {
								background: #f3f3f3;
							}
							.footer p {
								color: #666666;
								font-size: 12px;
							}
							.footer a {
								color: #999999;
							}
						</style>
						<table class="container float-center">
							<br>
							<tbody>
								<tr>
									<td>
										<table class="spacer">
											<tbody>
												<tr>
													<td height="16px" style="font-size:16px;line-height:16px;"></td>
												</tr>
											</tbody>
										</table>
										<table class="row">
											<tbody>
												<tr>
													<th class="small-12 large-12 columns first last">
														<table>
															<tr>
																<th class="header">
																	<!--
						 											Image source: OneDrive -> shared BaTh folder -> "Public" sub folder
																	Workaround as images for email have to be public accessible
						 											As soon as Progressor server is fully public accessible use local image path with: Meteor.absoluteUrl(imgUri)
						 											-->
																	<img src="https://ipp0ow.dm2301.livefilestore.com/y3mYRxjzpcbA27DSzeFoNEMua0ZUhTWrqqqWqqL-9iL8CcZkdAaH8iWB1gEp64FIlJ9noQIfwwpveCZhGStRc2M9kIPIPIr3hByLHga7smFDvGlMxIXLyOb3BfY-Rxf-J5cxJC0-EZ85PRoIJo_Y1MSBPbGPaAbUW8Lc_A_wIBtvg4?width=340&height=60&cropmode=none" width="290" height="55" />
																</th>
															</tr>
															<tr>
																<th>
																	<table class="spacer">
																		<tbody>
																			<tr>
																				<td height="15px" style="font-size:15px;line-height:15px;"></td>
																			</tr>
																		</tbody>
																	</table>
																	<h1>{{i18n "email.resetPassword.title"}}</h1>
																	<p>
																		{{{htmlLineBreak (i18n "email.resetPassword.intro" address)}}}
																	</p>
																	<a href="{{resetpwdURL}}">{{resetpwdURL}}</a>
																	<table class="spacer">
																		<tbody>
																			<tr>
																				<td height="16px" style="font-size:16px;line-height:16px;"></td>
																			</tr>
																		</tbody>
																	</table>
																	<p>{{i18n "email.greeting"}}<br><b>{{i18n "layout.title"}} - {{i18n "layout.explanation"}}</b></p>
																</th>
																<th class="expander"></th>
															</tr>
														</table>
													</th>
												</tr>
											</tbody>
										</table>
										<table class="wrapper secondary" align="center">
											<tr>
												<td class="wrapper-inner">
													<table class="spacer">
														<tbody>
															<tr>
																<td height="16px" style="font-size:16px;line-height:16px;"></td>
															</tr>
														</tbody>
													</table>
													<table class="row">
														<tbody>
															<tr>
																<th class="small-12 large-6 columns last footer">
																	<table>
																		<tr>
																			<th>
																				<p class="text-center">{{{htmlLineBreak (i18n "email.footer")}}}</p>
																			</th>
																		</tr>
																	</table>
																</th>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</center>
				</td>
			</tr>
		</table>
	</body>
</html>
