<template name="programmingSolve">
	{{i18nTooltips}}
	{{#with safeExercise this}}
		<header>
			<nav class="row">
				<div class="col-sm-8">
					<ol class="breadcrumb">
						<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
						<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage programmingLanguage}}{{/linkTo}}</li>
						<li>{{#linkTo route="categoryExercises" data=category}}{{i18nName category}}{{/linkTo}}</li>
						<li class="active">{{i18nDifficulty difficulty}}</li>
						{{#unless isResult}}
							<li class="active">{{i18nName this}}</li>
						{{else}}
							<li>
								{{#linkTo route="exerciseSolve" data=exerciseSolveData}}{{i18nName this}}{{/linkTo}}
								{{#if changedAfterSolved}}<em class="text-info">&mdash; {{i18n "exercise.changedMessage"}}</em>{{/if}}
							</li>
						{{/unless}}
					</ol>
				</div>
				{{#unless isResult}}
					<div class="col-sm-4 text-right">
						<ul class="breadcrumb">
							<li>{{#linkTo route="exerciseEdit" data=this}}{{i18n "exercise.editButton"}}{{/linkTo}}</li>
						</ul>
					</div>
				{{/unless}}
			</nav>
			<div class="row">
				<div class="col-sm-9">
					<h2>
						{{i18nName this}}
						{{#if isResult}}
							<small>
								({{i18nDateTime resultSolved}})
								{{#if changedAfterSolved}}<span class="glyphicon glyphicon-pushpin text-info" title="{{i18n "exercise.changedMessage"}}" data-toggle="tooltip"></span>{{/if}}
							</small>
						{{/if}}
					</h2>
				</div>
			</div>
		</header>
		<section>
			<h3 class="hidden">{{i18n "exercise.exerciseSubtitle"}}</h3>
			<p class="well">
				{{#markdown}}{{i18nDescription this}}{{/markdown}}
			</p>
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-sm-4">
							<label for="textarea-fragment">{{i18n "exercise.codeFragmentLabel"}}</label>
						</div>
						<div class="col-sm-8 text-right">
							<label for="select-codemirror-themes">{{i18n "exercise.codeMirrorThemeLabel"}}</label>
							<select id="select-codemirror-themes">
								{{#each codeMirrorThemes}}
									<option selected={{isActive}}>{{_id}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					{{> CodeMirror id="textarea-fragment" options=codeMirrorOptions reactiveVar="fragment"}}
					{{#unless isResult}}
						<div class="row">
							<div class="col-sm-4">
								<button id="button-execute" class="btn btn-primary btn-sm separated-top" disabled={{executionDisabled}}>{{i18n "exercise.executeTestsButton"}}</button>
							</div>
							<div class="col-sm-8 text-danger text-right">
								{{blackListMessage}}
							</div>
						</div>
					{{/unless}}
				</div>
				<div class="col-md-6">
					{{#if showSolution}}
					<div class="row">
						<div class="col-sm-4">
							<label for="textarea-fragment">{{i18n "exercise.solutionSubtitle"}}</label>
						</div>
					</div>
						{{> CodeMirror id="textarea-solution" options=(codeMirrorOptions true) reactiveVar="solution"}}
					<div class="row">
						<div class="col-sm-4">
							<button id="button-close" class="btn btn-primary btn-sm separated-top">{{i18n "exercise.closeButton"}}</button>
						</div>
					</div>
					{{else}}
						{{#unless executionFatal}}
							<table id="table-testcases" class="table table-condensed table-striped">
								<thead>
									<tr>
										<th scope="col" colspan="{{#if testCasesEvaluated}}2{{else}}1{{/if}}">{{i18n "exercise.testCase.descriptionLabel"}}</th>
										<th scope="col">{{i18n "exercise.testCase.expectedOutputLabel"}}</th>
									</tr>
								</thead>
								<tbody>
									{{#each testCases}}
										{{#if visible}}
											<tr>
												{{#if testCasesEvaluated}}
													<td>
														{{#if testCaseSuccess this}}
															<span class="glyphicon glyphicon-ok text-success" title="{{i18n "exercise.testCase.successMessage"}}" data-toggle="tooltip"></span>
														{{else}}
															<span class="glyphicon glyphicon-remove text-danger" title="{{i18n "exercise.testCase.failureMessage"}}" data-toggle="tooltip"></span>
														{{/if}}
													</td>
												{{/if}}
												<td>{{testCaseSignature this}}</td>
												<td>
													<pre>{{testCaseExpectedOutput this}}</pre>
													{{#if testCasesEvaluated}}
														{{#unless testCaseSuccess this}}
															<small><strong>{{i18n "exercise.testCase.resultLabel"}}:</strong></small>
															<pre class="text-danger">{{testCaseActualOutput this}}</pre>
														{{/unless}}
													{{/if}}
												</td>
											</tr>
										{{else}}
											<tr>
												{{#if testCasesEvaluated}}
													<td>
														{{#if testCaseSuccess this}}
															<span class="glyphicon glyphicon-ok text-success" title="{{i18n "exercise.executionSuccessMessage"}}" data-toggle="tooltip"></span>
														{{else}}
															<span class="glyphicon glyphicon-remove text-danger" title="{{i18n "exercise.executionFailureMessage"}}" data-toggle="tooltip"></span>
														{{/if}}
													</td>
												{{/if}}
												<td>{{i18n "exercise.testCase.others"}}</td>
												<td></td>
											</tr>
										{{/if}}
									{{/each}}
								</tbody>
							</table>
						{{else}}
							<strong>{{i18n "exercise.testCase.resultLabel"}}:</strong>
							<pre class="text-danger">{{testCaseActualOutput testCases.[0]}}</pre>
						{{/unless}}
						{{#unless isResult}}
							{{#if solutionVisible}}
								<button id="button-solution" class="btn btn-primary btn-sm">{{i18n "exercise.showSolutionButton"}}</button>
							{{/if}}
						{{/unless}}
					{{/if}}
				</div>
			</div>
		</section>
		<hr />
		<section>
			<h3>{{i18n "exercise.categoryDescriptionSubtitle" (i18nName category)}}</h3>
			<p>
				{{#markdown}}{{i18nDescription category}}{{/markdown}}
			</p>
		</section>
	{{/with}}
</template>
