<template name="exerciseCreate">
	{{> exerciseEdit}}
</template>
<template name="exerciseEdit">
	{{#if exerciseType}}
		{{> Template.dynamic template=exerciseType}}
	{{else}}
		<div class="form-inline text-center separated-top">
			<div class="form-group">
				<label for="select-type">{{i18n "exercise.typeToCreateLabel"}}</label>
				<select id="select-type" class="form-control">
					<option>{{i18n "form.selectPleaseChoose"}}</option>
					{{#each exerciseTypes}}
						<option value="{{_id}}">{{i18nExerciseType _id}}</option>
					{{/each}}
				</select>
			</div>
		</div>
	{{/if}}
</template>
