<template name="multipleEdit">
	{{i18nTooltips}}
	{{#with safeExercise this}}
		<header>
			{{#if exists}}
				<nav>
					<ol class="breadcrumb">
						<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
						<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage programmingLanguage}}{{/linkTo}}</li>
						<li>{{#linkTo route="categoryExercises" data=category}}{{i18nName category}}{{/linkTo}}</li>
						<li class="active">{{i18nDifficulty difficulty}}</li>
						<li>{{#linkTo route="exerciseSolve" data=exercise}}{{i18nName exercise}}{{/linkTo}}</li>
						<li class="active">{{i18n "exercise.editBreadcrumb"}}</li>
					</ol>
				</nav>
				<h2>{{i18n "exercise.editTitle" (i18nName exercise)}}</h2>
			{{else}}
				<h2>{{i18n "exercise.createTitle"}}</h2>
			{{/if}}
		</header>
		{{#if exists}}
			<div class="help-block">
				<small class="text-muted">
					{{i18n "form.createdBy"}} {{userName author_id}}
					{{#if lastEditor_id}}
						&mdash; {{i18n "form.editedBy"}} {{userName lastEditor_id}} {{i18n "form.actionAt"}} {{i18nDateTime lastEdited}}
					{{/if}}
				</small>
			</div>
		{{/if}}
		<div class="row visible-md-block visible-lg-block">
			<div class="col-md-offset-5 col-md-7">
				<ul class="nav nav-tabs" role="tablist">
					{{#each i18nExerciseNamesDescriptions}}
						<li role="presentation" class="{{#if isActive}}active{{/if}}"><a href="#tab-{{_id}}" aria-controls="tab-{{_id}}" role="tab" data-toggle="tab">{{language}}</a></li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group form-group-sm">
					<label for="select-language" class="control-label">{{i18n "exercise.programmingLanguageLabel"}}</label>
					<select id="select-language" class="form-control" disabled={{exists}}>
						<option value="">{{i18n "form.selectPleaseChoose"}}</option>
						{{#each i18nProgrammingLanguages}}
							<option value="{{_id}}" selected={{isActive}}>{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group form-group-sm">
					<label for="select-category" class="control-label">{{i18n "exercise.categoryLabel"}}</label> &mdash;
					{{#if categoryEditData}}
						{{#linkTo route="categoryEdit" data=categoryEditData}}{{i18n "category.editButton"}}{{/linkTo}} &mdash;
					{{/if}}
					{{#linkTo route="categoryCreate"}}{{i18n "category.createButton"}}{{/linkTo}}
					<select id="select-category" class="form-control">
						<option value="">{{i18n "form.selectPleaseChoose"}}</option>
						{{#each i18nCategories}}
							<option value="{{_id}}" selected={{isActive}}>{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group form-group-sm">
					<label for="select-difficulty" class="control-label">{{i18n "exercise.difficultyLabel"}}</label>
					<select id="select-difficulty" class="form-control">
						<option value="0">{{i18n "form.selectPleaseChoose"}}</option>
						{{#each i18nDifficulties}}
							<option value="{{_id}}" selected={{isActive}}>{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="col-md-7">
				<div class="visible-xs-block visible-sm-block">
					<ul class="nav nav-tabs" role="tablist">
						{{#each i18nExerciseNamesDescriptions}}
							<li role="presentation" class="{{#if isActive}}active{{/if}}"><a href="#tab-{{_id}}" aria-controls="tab-{{_id}}" role="tab" data-toggle="tab">{{language}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div class="tab-content">
					{{#each i18nExerciseNamesDescriptions}}
						<div role="tabpanel" id="tab-{{_id}}" class="tab-pane fade {{#if isActive}}active in{{/if}}">
							<div class="form-group form-group-sm">
								<label for="input-name-{{_id}}" class="control-label">{{i18n "exercise.nameLabel"}} ({{_id}})</label>
								<input type="text" id="input-name-{{_id}}" class="form-control" value="{{name}}" data-lang="{{_id}}" />
							</div>
							<div class="form-group form-group-sm">
								<label for="textarea-description-{{_id}}" class="control-label">{{i18n "exercise.descriptionLabel"}} ({{_id}})</label>
								<textarea id="textarea-description-{{_id}}" rows="5" cols="40" class="form-control" data-lang="{{_id}}">{{description}}</textarea>
							</div>
							<div class="help-block">
								{{i18n "form.supportsMarkdown"}}
								<a href="https://guides.github.com/features/mastering-markdown/#syntax" target="_blank"><span class="glyphicon glyphicon-info-sign text-info" title="{{i18n "exercise.help.showButton"}}" data-toggle="tooltip"></span></a> {{! https://help.github.com/articles/basic-writing-and-formatting-syntax/#styling-text }}
							</div>
							<section>
								<h3>Antwortmöglichkeiten</h3>
								<div class="row">
									<div class="col-sm-5">
										<label class="control-label">Beschreibung ({{_id}})</label>
									</div>
									<div class="col-sm-5">
										<label class="control-label">Richtig / Falsch</label>
									</div>
								</div>
								{{#each options}}
									<div class="container-option">
										<div class="row">
											<div class="col-sm-5">
												<div class="form-group form-group-sm">
													<input type="text" class="input-option-text form-control" value="{{text}}" placeholder="{{placeholder}}" />
												</div>
											</div>
											<div class="col-sm-5">
												<div class="form-group form-group-sm">
													<label class="radio-inline"><input type="radio" name="input-option-{{lang}}-{{@index}}" value="true" checked={{isSolution}}> richtig</label>
													<label class="radio-inline"><input type="radio" name="input-option-{{lang}}-{{@index}}" value="false" checked={{not isSolution}}> falsch</label>
												</div>
											</div>
											<div class="col-sm-2">
												<button class="btn btn-success btn-sm btn-add-option"><span class="glyphicon glyphicon-plus-sign" title="{{i18n "form.addButton"}}" data-toggle="tooltip"></span></button>
												<button class="btn btn-danger btn-sm btn-remove-option"><span class="glyphicon glyphicon-minus-sign" title="{{i18n "form.removeButton"}}" data-toggle="tooltip"></span></button>
											</div>
										</div>
									</div>
								{{/each}}
							</section>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{#if canSave}}
			<div class="btn-toolbar separated-top">
				<div class="btn-group">
					<button class="btn btn-success btn-save">{{i18n "form.saveButton"}}</button>
					{{#if exists}}{{#linkTo route="exerciseSolve" data=exercise class="btn btn-warning"}}{{i18n "form.cancelButton"}}{{/linkTo}}{{/if}}
					<button class="btn btn-danger btn-delete">{{i18n "form.deleteButton"}}</button>
				</div>
				{{#if exists}}
					<div class="btn-group">
						{{#unless (released.requested)}}
							<button class="btn btn-info btn-release-request">{{i18n "exercise.releaseRequestButton"}}</button>
						{{/unless}}
						{{#linkTo route="exerciseCreate" query=exerciseDuplicateQuery class="btn btn-info"}}{{i18n "exercise.duplicateButton"}}{{/linkTo}}
					</div>
				{{/if}}
			</div>
		{{else}}
			<div class="separated-top text-muted">{{i18n "form.cannotSaveMessage"}}</div>
		{{/if}}
	{{/with}}
</template>
