<template name="programmingEdit">
	<header>
		{{#if this}}
			<nav>
				<ol class="breadcrumb">
					<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
					<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage}}{{/linkTo}}</li>
					<li class="active">{{i18nCategoryName category}}</li>
					<li class="active">{{i18nDifficulty difficulty}}</li>
					<li>{{#linkTo route="programmingSolve" data=this}}{{i18nExerciseName this}}{{/linkTo}}</li>
					<li class="active">{{i18n "exercise.editBreadcrumb"}}</li>
				</ol>
			</nav>
			<h2>{{i18n "exercise.editTitle" (i18nExerciseName this)}}</h2>
		{{else}}
			<h2>{{i18n "exercise.createTitle"}}</h2>
		{{/if}}
	</header>
	<div class="row">
		<div class="col-md-offset-4 col-md-8">
			<ul class="nav nav-tabs" role="tablist">
				{{#each languages}}
					<li role="presentation" class="{{#if isActive}}active{{/if}}"><a href="#tab-{{_id}}" aria-controls="tab-{{_id}}" role="tab" data-toggle="tab">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group form-group-sm">
				<label for="select-language">{{i18n "exercise.programmingLanguageLabel"}}</label>
				<select id="select-language" class="form-control">
					<option value="">{{i18n "form.selectPleaseChoose"}}</option>
					{{#each i18nProgrammingLanguages}}
						<option value="{{_id}}" selected={{isActive}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group form-group-sm">
				<label for="select-category">{{i18n "exercise.categoryLabel"}}</label>
				<select id="select-category" class="form-control">
					<option value="">{{i18n "form.selectPleaseChoose"}}</option>
					{{#each i18nCategories}}
						<option value="{{_id}}" selected={{isActive}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group form-group-sm">
				<label for="select-difficulty">{{i18n "exercise.difficultyLabel"}}</label>
				<select id="select-difficulty" class="form-control">
					<option value="0">{{i18n "form.selectPleaseChoose"}}</option>
					{{#each i18nDifficulties}}
						<option value="{{_id}}" selected={{isActive}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
		</div>
		<div class="col-md-8">
			<div class="tab-content">
				{{#each languages}}
					<div role="tabpanel" id="tab-{{_id}}" class="tab-pane {{#if isActive}}active{{/if}}">
						<div class="form-group form-group-sm">
							<label for="input-name-{{_id}}">{{i18n "exercise.nameLabel"}} ({{_id}})</label>
							<input type="text" id="input-name-{{_id}}" class="form-control" value="{{exerciseName}}" />
						</div>
						<div class="form-group form-group-sm">
							<label for="textarea-name-{{_id}}">{{i18n "exercise.descriptionLabel"}} ({{_id}})</label>
							<textarea id="textarea-name-{{_id}}" rows="5" cols="40" class="form-control">{{exerciseDescription}}</textarea>
							<div class="help-block">
								{{i18n "form.supportsMarkdown"}}
								<a href="https://help.github.com/articles/markdown-basics/#styling-text" target="_blank"><span class="glyphicon glyphicon-info-sign text-info"></span></a>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="row">
		<section class="col-md-4">
			<h3>{{i18n "exercise.functionsSubtitle"}}</h3>
			<div class="dyn-repeatable">
				<div class="form-group form-group-sm">
					<button class="btn btn-success btn-xs pull-right dyn-repeat"><span class="glyphicon glyphicon-plus-sign"></span></button>
					<label for="input-function-name">{{i18n "exercise.function.nameLabel"}}</label>
					<input type="text" id="input-function-name" class="form-control" />
				</div>
				<div class="form-group form-group-sm">
					<label for="input-function-type">{{i18n "exercise.function.returnTypeLabel"}}</label>
					<input type="text" id="input-function-type" class="form-control" />
				</div>
				<div class="dyn-repeatable">
					<div class="form-group form-group-sm">
						<button class="btn btn-success btn-xs pull-right dyn-repeat"><span class="glyphicon glyphicon-plus-sign"></span></button>
						<label for="input-parameter-name">{{i18n "exercise.function.parameterNameLabel"}}</label>
						<input type="text" id="input-parameter-name" class="form-control" />
					</div>
					<div class="form-group form-group-sm left-indent">
						<label for="input-parameter-type">{{i18n "exercise.function.parameterTypeLabel"}}</label>
						<input type="text" id="input-parameter-type" class="form-control" />
					</div>
				</div>
			</div>
		</section>
		<section class="col-md-8">
			<h3>{{i18n "exercise.testCasesSubtitle"}}</h3>
			<div class="dyn-repeatable">
				<div class="form-group form-group-sm">
					<button class="btn btn-success btn-xs pull-right dyn-repeat"><span class="glyphicon glyphicon-plus-sign"></span></button>
					<label for="select-testcase-function">{{i18n "exercise.testCase.functionLabel"}}</label>
					<select id="select-testcase-function" class="form-control">
						<option value="0">{{i18n "form.selectPleaseChoose"}}</option>
					</select>
				</div>
				<div class="form-group form-group-sm left-indent">
					<label for="input-testcase-input">{{i18n "exercise.testCase.inputLabel"}}</label>
					<input type="text" id="input-testcase-input" class="form-control" />
				</div>
				<div class="form-group form-group-sm left-indent">
					<label for="input-testcase-expectedoutput">{{i18n "exercise.testCase.expectedOutputLabel"}}</label>
					<input type="text" id="input-testcase-expectedoutput" class="form-control" />
				</div>
				<div class="checkbox left-indent">
					<label>
						<input type="checkbox" id="checkbox-testcase-visible" /> {{i18n "exercise.testCase.visibleLabel"}}
					</label>
				</div>
			</div>
		</section>
	</div>
	<aside class="row">
		<div class="col-md-4">
			<div class="help-block">
				<em>{{i18n "exercise.help.types"}}</em>
				<ul class="list-inline">
					{{#each executorTypes}}
						<li>{{label}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="help-block">
				<em>{{i18n "exercise.help.values"}}</em>
				<ul class="list-inline">
					<li>Progressor</li>
					<li>Bern University of Applied Sciences</li>
					<li>2015</li>
					<li>3.141592653</li>
					<li>-1,0,1,2</li>
					<li>strut1,touwm1,weidj1</li>
					<li>strut1:Thomas Strub,touwm1:Marc Touw,weidj1:Janick Weidmann</li>
				</ul>
			</div>
		</div>
	</aside>
</template>
