<template name="programmingSolve">
	<header>
		<nav>
			<ol class="breadcrumb">
				<li>{{#linkTo route="home"}}{{i18n "layout.homeTitle"}}{{/linkTo}}</li>
				<li>{{#linkTo route="exerciseSearch" data=exerciseSearchData}}{{i18nProgrammingLanguage this}}{{/linkTo}}</li>
				<li class="active">{{i18nCategoryName category}}</li>
				<li class="active">{{i18nDifficulty difficulty}}</li>
				<li class="active">{{i18nExerciseName this}}</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-sm-9">
				<h2> {{i18nExerciseName this}} </h2>
			</div>
			<!--<div class="col-sm-3">
				<ul class="pager pull-right">
					<li><a href="#">{{i18n "exercise.previousButton"}}</a></li>
					<li><a href="#">{{i18n "exercise.nextButton"}}</a></li>
				</ul>
			</div>-->
		</div>
	</header>
	<section>
		<h3 class="hidden">{{i18n "exercise.exerciseSubtitle"}}</h3>
		<p class="well">
			{{#markdown}}{{i18nExerciseDescription this}}{{/markdown}}
		</p>
		<div class="row">
			<div class="col-md-7">
				<div class="form-group">
					<label for="textarea-fragment">{{i18n "exercise.codeFragmentLabel"}}</label>
					<textarea id="textarea-fragment" class="form-control mono" rows="10" cols="60" autofocus placeholder="{{i18n "exercise.codeFragment"}}"></textarea>
				</div>
				<button id="button-execute" class="btn btn-default btn-sm">{{i18n "exercise.executeTestsButton"}}</button>
			</div>
			<div class="col-md-5">
				<table id="execResult" class="table table-condensed table-striped">
					<thead>
						<tr>
							<th scope="col" colspan="2">{{i18n "exercise.testCase.descriptionLabel"}}</th>
							<th scope="col">{{i18n "exercise.testCase.expectedOutputLabel"}}</th>
							<th scope="col">{{i18n "exercise.testCase.resultLabel"}}</th>
						</tr>
					</thead>
					<tbody>
						{{#each testCases}}
							{{#if visible}}
								<tr>
									<td><span class="glyphicon glyphicon-{{#if testCaseSuccess this}}ok{{else}}remove{{/if}} text-{{#if testCaseSuccess this}}success{{else}}danger{{/if}}"></span></td>
									<td>{{testCaseSignature this}}</td>
									<td>
										<pre>{{testCaseExpectedOutput this}}</pre>
									</td>
									<td>
										<pre>{{testCaseActualOutput this}}</pre>
									</td>
								</tr>
							{{/if}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<hr />
	<section>
		<h3>{{i18n "exercise.categoryDescriptionSubtitle" (i18nCategoryName category)}}</h3>
		<p>
			{{#markdown}}{{i18nCategoryDescription category}}{{/markdown}}
		</p>
	</section>
</template>
