<template name="programmingSolve">
	<header>
		<ol class="breadcrumb">
			<li><a href="{{pathFor "home"}}">{{i18n "navigation.home"}}</a></li>
			<li><a href="{{pathFor "exerciseSearch"}}">{{programmingLanguage}}</a></li>
			<li class="active">{{i18nExerciseName this}}</li>
		</ol>
	</header>
	<div class="row">
		<div class="col-md-5">
			<h2 class="page-title"> {{i18nExerciseName this}} </h2>
		</div>
		<div class="col-md-7">
			<nav>
				<ul class="pager pull-right">
					<li><a href="#">{{i18n "navigation.previous"}}</a></li>
					<li><a href="#">{{i18n "navigation.next"}}</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<section class="row">
		<div class="col-md-12">
			<div class="well margin-panel">
				{{i18nDescription this}}.
			</div>
		</div>
	</section>
	<div class="row">
		<section class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center"><strong>{{i18n "exercise.code"}}</strong></h3>
				</div>
				<div class="panel-body">
					<section class="form-horizontal">
						<div class="form-group">
							<!-- ToDo: Load from database -->
					<textarea id="fragment" rows="10" cols="20" class="form-control">{{fragTest}}</textarea>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<!-- <Strong>Result:</Strong> {//{result}} -->
								<button id="btn-compile" class="btn btn-default pull-right">{{i18n "button.compile"}}</button>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
		<section class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-center">{{i18n "legend.testCases"}}</h3>
				</div>
				<table id="execResult" class="table table-bordered">
					<thead>
						<tr>
							<th>{{i18n "legend.testCase"}}</th>
							<th>{{i18n "legend.expectedResult"}}</th>
							<th>{{i18n "legend.actualResult"}}</th>
						</tr>
					</thead>
					<!-- ToDo: Load from database -->
					<tbody>
						<tr>
							<td>groupSum(0, {2, 4, 8}, 10)</td>
							<td>True</td>
							<td>Ok</td>
						</tr>
						<tr>
							<td>groupSum(0, {2, 4, 8}, 14)</td>
							<td>True</td>
							<td>Error</td>
						</tr>
						<tr>
							<td>groupSum(0, {2, 4, 8}, 9)</td>
							<td>False</td>
							<td>Ok</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
	<div class="row">
		<section class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4><strong>{{i18n "exercise.resources"}}</strong></h4>
					<!-- ToDo: Load from database -->
					<ul>
						<li>Java API
							<a href="http://docs.oracle.com/javase/8/docs/api">http://docs.oracle.com/javase/8/docs/api </a></li>
						<li>JavaFX API
							<a href="http://docs.oracle.com/javase/8/javafx/api">http://docs.oracle.com/javase/8/javafx/api </a></li>
						<li>JavaFX CSS Reference
							<a href="http://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html">http://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html </a>
						</li>
						<li>JavaEE Reference <a href="http://docs.oracle.com/javaee/7/api">http://docs.oracle.com/javaee/7/api </a>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>
</template>
