<template name="layout">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">{{i18n "layout.navigationToggle"}}</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{{#linkTo route="home" class="navbar-brand"}}<img src="/images/logo-progressor.png" alt="{{i18n "layout.title"}}" id="imageLogo" height="45" width="280" />{{/linkTo}}
			</div>
			<div id="navbar-collapse" class="collapse navbar-collapse">
				<nav>
					<ul class="nav navbar-nav">
						{{! <li>{#linkTo route="home"}{i18n "layout.homeTitle"}{/linkTo}</li> }}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								{{i18n "layout.programmingLanguagesTitle"}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#each i18nProgrammingLanguages}}
									<li>{{#linkTo route="exerciseSearch" data=this}}{{name}}{{/linkTo}}</li>
								{{/each}}
							</ul>
						</li>
						<li>{{#linkTo route="exerciseCreate"}}{{i18n "layout.createExerciseTitle"}}{{/linkTo}}</li>
						<li><a href="/admin">{{i18n "layout.mongoDBAdminTitle"}}</a></li>
					</ul>
				</nav>
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-globe"></span>
								{{language}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#each languages}}
									<li class="{{#if isActive}}active{{/if}}">
										<a href="?lang={{_id}}" class="i18n lang" data-lang="{{_id}}">{{name}}</a>
									</li>
								{{/each}}
							</ul>
						</li>
						<li role="separator" class="divider-vertical"></li>
						<li>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								{{#if currentUser}}{{i18n "account.title"}}{{else}}{{i18n "account.loginTitle"}}{{/if}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#if currentUser}}
									<li>{{#linkTo route="account"}}{{currentUserName}}{{/linkTo}}</li>
									<li>{{#linkTo route="account" query="action=logout" id="link-logout"}}{{i18n "account.logoutButton"}}{{/linkTo}}</li>
								{{else}}
									<li>{{#linkTo route="account"}}{{i18n "account.loginButton"}}{{/linkTo}}</li>
									<li>{{#linkTo route="account"}}{{i18n "account.registerButton"}}{{/linkTo}}</li>
								{{/if}}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			{{#unless customTitle}}
				<h1 class="hidden">{{i18n "layout.title"}}</h1>
			{{/unless}}
			<main class="{{#if showAside}}col-lg-9{{else}}col-lg-12{{/if}}">
				{{> yield}}
			</main>
			{{#if showAside}}
				<aside class="col-lg-3">
					{{> yield "aside"}}
				</aside>
			{{/if}}
		</div>
	</div>
</template>
